/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  font-family: var(--font-family-basic);
  background-color: var(--color-bg);
  background-image: var(--img-bg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: var(--color-heading-secondary);
}

.card {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-basic);
}

.title {
  font-size: var(--font-size-basic);
  font-weight: bold;
  line-height: 130%;
}

.title-decor {
  color: var(--color-heading-primary);
  background-color: var(--color-bg-contrast);
}

.text {
  font-size: var(--font-size-basic);
  font-weight: normal;
  line-height: 130%;
  color: var(--color-text);
}

.links-decor {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--color-accent);
}

.links-decor:hover {
  cursor: pointer;
  border-block-end: 1px solid var(--color-border);
}

.links-decor:focus {
  outline: none;
}

.links-decor:focus-visible {
  outline: 1px solid var(--color-border);
}

.header {
  display: grid;
  align-items: flex-start;
  padding: var(--spacing-basic);
  margin-block-end: var(--spacing-s);
  inline-size: 100vw;
  block-size: 100vh;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  position: absolute;
  content: '';
  block-size: 25px;
  inline-size: 25px;
  inset-block-start: var(--spacing-basic);
  inset-inline-end: var(--spacing-basic);
  border-right: 1px solid var(--color-border);
  border-top: 1px solid var(--color-border);
}

.decorated-zone::after {
  position: absolute;
  content: '';
  block-size: 25px;
  inline-size: 25px;
  inset-block-end: var(--spacing-basic);
  inset-inline-start: var(--spacing-basic);
  border-bottom: 1px solid var(--color-border);
  border-left: 1px solid var(--color-border);
}

.header__decorative-element {
  position: relative;
  visibility: visible;
  opacity: 1;
}

.header__decorative-element::before {
  position: absolute;
  content: 'REC';
  color: var(--color-accent);
  font-size: var(--font-size-basic);
  inset-inline-end: 28px;
  inset-block-start: 2px;
}

.header__decorative-element::after {
  position: absolute;
  content: '';
  inline-size: 9px;
  block-size: 9px;
  inset-inline-end: 9px;
  inset-block-start: 9px;
  background-color: var(--color-accent);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--color-accent);
}

.header__theme-menu{
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-basic);
}

.header__theme-menu-button {
  padding: 2px 13px;
  font-size: var(--font-size-basic);
  background-color: transparent;
  border: 1px solid transparent;
  text-transform: lowercase;
  color: inherit;
  cursor: pointer;
  appearance: none;
  text-align: center;
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(var(--color-border-rgb), 0.4);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--color-border);
}

.header__theme-menu-button_active {
  border: 1px solid var(--color-border);
  pointer-events: none;
}

.header__text {
  text-transform: lowercase;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: bold;
  line-height: 82.5%;
  color: var(--color-text-primary);
  text-shadow: 4px 4px 0 var(--color-accent);
  padding-block-start: var(--spacing-basic);
}

.header__title {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-basic);
  font-weight: bold;
  line-height: 130%;
}

.main {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
}

.focus-difficulty {
  display: grid;
  gap: var(--spacing-xs);
  padding: 0 var(--spacing-basic);
}

.concentration-killers {
  display: grid;
  gap: var(--spacing-xs);
  padding: 0 var(--spacing-basic);
}

.focus-tips {
  display: grid;
  gap: var(--spacing-xs);
  padding: 0 var(--spacing-basic);
}

.focus-tips__item__title {
  font-size: var(--font-size-basic);
  font-weight: normal;
}

.focus-tips__item + .focus-tips__item {
  padding-block-start: var(--spacing-xs);
}

.visual-tips {
  display: grid;
  gap: var(--spacing-basic);
  padding: 0 var(--spacing-basic);
}

.visual-tips__image {
  inline-size: calc(100vw - (var(--spacing-basic) * 2));
  object-fit: cover;
  object-position: center;
}

.footer {
  display: grid;
  place-items: center;
  block-size: 100vh;
  margin-block-start: var(--spacing-s);
}

.footer__text {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: bold;
  color: var(--color-text-primary);
  text-shadow: 2px 2px 0 var(--color-accent);
}

@media (width >= 768px) {
  .decorated-zone::before {
    inset-block-start: var(--spacing-xs);
    inset-inline-end: var(--spacing-xs);
  }

  .decorated-zone::after {
    inset-block-end: var(--spacing-xs);
    inset-inline-start: var(--spacing-xs);
  }

  .header__decorative-element {
    grid-column: 2 / auto;
  }

  .header__theme-menu {
    grid-column: 2 / auto;
  }

  .header {
    padding: var(--spacing-xs);
    grid-template-columns: 1fr 1fr;
    margin-block-end: var(--spacing-l);
  }

  .header__text {
    margin-inline-start: -20px;
    padding-block-start: var(--spacing-basic);
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    grid-column: 1 / -1;
  }

  .header__title {
    grid-column: 2 / auto;
  }

  .main {
    gap: var(--spacing-xl);
  }

  .focus-difficulty {
    padding: 0 var(--spacing-xs);
    grid-template-columns: 1fr 2fr;
  }

  .focus-difficulty__card {
    grid-column: 2 / -1;
  }

  .concentration-killers {
    padding: 0 var(--spacing-xs);
    grid-template-columns: repeat(3, 1fr);
  }

  .concentration-killers__title {
    grid-column: 1 / 2;
  }

  .concentration-killers__card {
    grid-column: 1 / -1;
  }

  .focus-tips {
    padding: 0 var(--spacing-xs);
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
  }

  .focus-tips__title {
    grid-row: 1 / 3;
  }

  .focus-tips__subtitle {
    grid-column: 2 / -1;
  }

  .focus-tips__list {
    grid-column: 2 / -1;
  }

  .visual-tips {
    padding: 0 var(--spacing-xs);
    gap: var(--spacing-xs);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto repeat(3, auto);
    grid-auto-flow: dense;
  }

  .visual-tips__image {
    block-size: 100%;
    inline-size: 100%;
    max-block-size: 100%;
  }

  .visual-tips__title {
    grid-column: 1 / 4;
  }

  .visual-tips__image:nth-child(2) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  .visual-tips__image:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
  }

  .visual-tips__image:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 3 / -1;
  }

  .visual-tips__image:nth-child(6) {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
  }

  .footer {
    margin-block-start: var(--spacing-l);
  }

  .footer__text {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  .header__decorative-element {
    grid-row: 1 / -1;
  }

  .header__theme-menu {
    grid-column: 1 / -1;
    grid-row: 1 / auto;
    justify-self: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__theme-menu-button {
    padding: 0 12px;
  }

  .header__text {
    align-self: center;
    padding-block-start: 100px;
    padding-block-end: 60px;
  }

  .focus-difficulty {
    column-gap: var(--spacing-basic);
  }

  .concentration-killers__card {
    grid-column: auto;
    grid-row: 2 / auto;
  }

  .focus-tips {
    column-gap: var(--spacing-basic);
  }
}